<div class="container">

  <div class="ui-g">

    <form autocomplete="off" (ngSubmit)="pesquisar()">

      <div class="ui-g-12">
        <h1>Grupos</h1>
      </div>

      <div class="ui-g-12 ui-fluid">
        <input type="text" pInputText name="nome" placeholder="Nome do Grupo" [(ngModel)]="filtro.nome" />
      </div>

      <div class="ui-g-12">
        <button pButton type="submit" label="Pesquisar"></button>
      </div>

    </form>

    <div class="ui-g">

      <div class="ui-g-12">
        <p-dataTable [value]="grupos" [paginator]="true" [rows]="5" [responsive]="true" emptyMessage="Nenhum grupo encontrado" #tabelaGrupo>
          <p-column field="nome" header="Nome"></p-column>
          <p-column field="igreja" header="Igreja"></p-column>
          <p-column styleClass="col-acoes">
            <ng-template let-grup="rowData" pTemplate="body">
              <a pButton icon="fa-pencil" pTooltip="Gerenciar integrantes" tooltipPosition="top"></a>
              <button pButton icon="fa-trash" pTooltip="Excluir grupo" tooltipPosition="top" (click)="confirmarExclusao(grup)"></button>
            </ng-template>
          </p-column>
        </p-dataTable>
      </div>

    </div>

    <div class="ui-g-12">
      <a pButton label="Novo" routerLink="/grupos/novo"></a>
    </div>

  </div>

</div>