<div class="container">

  <form autocomplete="off">

    <div class="ui-g">

      <div class="ui-g-12">
        <h1>Novo Grupo</h1>
      </div>

      <div class="ui-g-12 ui-md-6 ui-fluid">
        <label>Nome do Grupo {{nome.errors | json}}</label>
        <input type="text" pInputText name="nome" ngModel #nome="ngModel" required minlength="5" />
        <div *ngIf="nome.hasError('required') && nome.dirty" class="ui-message ui-messages-error">
          Informe nome do Grupo
        </div>
        <div *ngIf="nome.hasError('minlength') && nome.dirty" class="ui-message ui-messages-error">
          Mínimo de {{nome.errors.minlength.requiredLength}} caracteres
        </div>
      </div>
      <div class="ui-g-12 ui-md-6 ui-fluid">
        <label>Nome da Igreja</label>
        <input type="text" pInputText ngModel name="nomeIgreja" #nomeIgreja="ngModel" required minlength="10"/>
        <div *ngIf="nomeIgreja.hasError('required') && nomeIgreja.dirty" class="ui-message ui-messages-error">
          Informe nome do Igreja
        </div>
        <div *ngIf="nomeIgreja.hasError('minlength') && nomeIgreja.dirty" class="ui-message ui-messages-error">
          Mínimo de {{nomeIgreja.errors.minlength.requiredLength}} caracteres
        </div>
      </div>
      <div class="ui-g-12 ui-fluid">
        <label>Objetivo do Grupo</label>
        <textarea pInputTextarea autoResize="false" ngModel name="objetivo" #objetivo="ngModel" required></textarea>
        <div *ngIf="objetivo.hasError('required') && objetivo.dirty" class="ui-message ui-messages-error">
          Informe objetivo do grupo
        </div>
      </div>

      <div class="ui-g-12">
        <button type="submit" pButton label="Salvar"></button>
        <button type="submit" pButton label="Novo" class="ui-button-info"></button>
        <a href="javascript:;">Voltar para a Pesquisa</a>
      </div>

    </div>

  </form>

</div>