<div class="container">

  <form>

    <div class="ui-g">
  
      <div class="ui-g-12">
        <h1>Novo Grupo</h1>
      </div>
  
      <div class="ui-g-12 ui-md-6 ui-fluid">
        <label>Nome do Grupo</label>
        <input type="text" pInputText />
      </div>
      <div class="ui-g-12 ui-md-6 ui-fluid">
        <label>Nome da Igreja</label>
        <input type="text" pInputText />
      </div>
      <div class="ui-g-12 ui-fluid">
        <label>Objetivo do Grupo</label>
        <textarea pInputTextarea autoResize="false"></textarea>
      </div>

      <div class="ui-g-12">
        <button type="submit" pButton label="Salvar"></button>
        <button type="submit" pButton label="Novo" class="ui-button-info"></button>
        <a href="javascript:;">Voltar para a Pesquisa</a>
      </div>
  
    </div>

  </form>

</div>