<nav class="navbar">
  <div class="container">
    <div class="ui-g">
      <div class="ui-g-12">
          <a href="javascript:;" class="navbar-toggle" (click)="exibindoMenu = !exibindoMenu"><i class="fa fa-bars"></i></a>
      </div>
    </div>
  </div>

  <ul class="navbar-menu" [hidden]="!exibindoMenu">
    <li class="navbar-usuario">jkavdev</li>
    <li class="navbar-menuitem" routerLinkActive="ativo"><a routerLink="/grupos" (click)="exibindoMenu = !exibindoMenu">Grupos</a></li>
    <li class="navbar-menuitem" routerLinkActive="ativo"><a routerLink="/integrantes" (click)="exibindoMenu = !exibindoMenu">Integrantes</a></li>
    <li class="navbar-menuitem" routerLinkActive="ativo"><a routerLink="/noticias" (click)="exibindoMenu = !exibindoMenu">Noticias</a></li>
    <li class="navbar-menuitem" routerLinkActive="ativo"><a routerLink="/eventos" (click)="exibindoMenu = !exibindoMenu">Eventos</a></li>
  </ul>

</nav>